# Node
node_modules
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Mac / Windows
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Tests / Env / IDE
.env
.env.local
.vscode
.idea

# Build output (pour le backend si tu fais des builds)
dist
build
coverage

# Divers
*.log

# Vite
*.cache